body {
    font-size: 14px;
    color: #222;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #e4eaf6;
    margin: 0;
}

textarea {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.error-box {
    
}


#main {
    margin: 20px;
    background-color: #f5f5f5;
    padding: 15px 20px;
    border: solid 1px #000;
}



/* Header */

header {
    background-color: #fff;
}

#branding {
    width: 98%;
    padding: 30px 0 20px 2%;
    border-bottom: solid 2px #666;
}

#branding-logo {
    max-width: 50px;
    width: 100%;
}

#branding-text {
    font-size: 42px;
    display: inline-block;
    position: relative;
    top: -12px;
    margin: 0 10px 0 20px;
}





/* Input Sequence Form */

#input-sequence-form {
    position: relative;
}

#input-sequence-block {
    margin: 0 0 20px 0;
}

#input-sequence-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Progress */

#progress-box {
    margin-bottom: 20px;
}

#progress-box table {
    width: 100%;
    max-width: 500px;
}

#progress-box table tr{
    height: 30px;
}


/* Results */

#found-sequence-display {
    width: 97%;
    max-height: 340px;
    padding: 15px 1.5%;
    background-color: #fff;
    overflow-y: scroll;
}

#found-sequence-display-legend {
    font-size: 13px;
    width: 100%;
    text-align: right;
    margin: 10px 0;
}

.individual-sequence {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px 5px;
}

.sequence-length {
    margin-right: 5px;
    color: #000;
    font-size: 11px;
}

.position_start {
    color: #00b000;
}

.position_end {
    color: #ee0000;
}

/* EXTRA */

.vertical-center {
    margin: 0;
    position: relative;
    top: -50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.note {
    font-size: 11px;
}

.warn {
    border: solid 2px #ff0000;
}


.A {
    color: #f2c409;
}

.T {
    color: #209cee;
}

.G {
    color: #bbb;
    font-size: 12px;
}

.C {
    color: #ce372b;
}